# git ignore file

ipch/

obj/

Debug/

Release/

*.v11.suo

*.sdf
*.opensdf

*.cache
*.vsp
*.psess

*.opensdf
ImageAnalysis.v12.suo

packages*/
*.exe
!NuGet.exe
*.user
*.suo
.vs/
ShadowEye/gitversion.json
